# compiled output
/dist
/node_modules

# build info
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
/coverage

# IDEs
/.idea
.vscode/

# Environment variables
.env
# .env.production
.env.test
.env.local
.env.example

